# See dos how to configure the bundle: https://symfony.com/doc/current/bundles/LiipImagineBundle/basic-usage.html
liip_imagine:
  filter_sets:
    cache: ~
    my_thumb :
      quality : 75
      filters :
        thumbnail  : { size : [260, 190], mode : outbound }
    post_show:
      quality: 75
      filters:
        thumbnail: { size: [500, 320], mode: outbound }
