@import "~bootswatch/flatly/variables";
@import "~eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build.scss";
@import "bootstrap-tagsinput.scss";

/* Page: 'Backend post index'
   ------------------------------------------------------------------------- */
body#admin_post_index .item-actions {
  white-space: nowrap
}

body#admin_post_index .item-actions a.btn + a.btn {
  margin-left: 4px
}

/* Page: 'Backend post show'
   ------------------------------------------------------------------------- */
body#admin_post_show .post-tags .label-default {
  background-color: #e9ecec;
  color: #6D8283;
  font-size: 16px;
  margin-right: 10px;
  padding: .4em 1em .5em;
}
body#admin_post_show .post-tags .label-default i {
  color: #95A6A7;
}
body#admin_post_edit .size-image img {
  width: 30%;
}
body#admin_post_index img.image-list {
  width: 50px;
}

@media screen and (max-width: 600px) {
  body#admin_post_index span.hide-mobile,
  body#admin_category_index span.hide-mobile{
    display: none;
  }
  body#admin_post_index .btn {
    border-width: 0px;
  }
  body#admin_post_new #post_saveAndCreateNew {
    margin: 10px 0 6px 0px;
  }
}

